<suite name="PHPTravels Test">

    <test name="Login">

	<parameter name="username" value="user@phptravels.com"/>
	<parameter name="password" value="demouser"/> 
	<parameter name="fakeUsername" value="fake@phptravels.com"/>
	<parameter name="fakePassword" value="fake"/>
	
		<classes>
		    <class name="testing.LoginTest" />
		</classes>

    </test>

</suite>